@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.yellow-pages-container {
  padding: 1rem 5rem;
  display: flex;
  flex-flow: column;
}

.yellow-pages-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.yellow-pages-header .logo img {
  width: 400px;
  height: 150px;
  margin: 1em 0;
}

.yellow-pages-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  flex-flow: column;
}

.yellow-pages-body .count {
  padding: 1em 0 2em;
}

.yellow-pages-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  background-color: #f0f0f075;
}
